{% extends 'base/base.html' %}

{% block title %}tag{% endblock %}
{% block jumbotron %}
<h1 class="h3"><i class="fas fa-tag"></i>"{{ tag.name }}"タグのついた記事一覧</h1>
{% endblock %}

{% block body %}
<div class="row">
  {% for article in articles %}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <a class="text-primary" href="{% url 'view_article' article.pk %}">{{ article.title }}</a>
          </div>
          <div class="col-12">
            <small>[{{ article.posted_at }}]</small>
          </div>
          <div class="col-6">
            <a class="text-primary" href="{% url 'edit' article.pk %}">編集</a>
          </div>
          <div class="col-6">
            <a class="text-danger" href="{% url 'delete' article.pk %}">削除<a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}